<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name="UnsecBinding">
          <resolver mode="Pnrp" />
          <security mode="None" />
        </binding>
        <binding name="SecBinding">
          <resolver mode="Pnrp" />
          <security mode="Transport">
            <transport credentialType="Password"/>
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint name="KDPeerEndpoint" address="net.p2p://KDPeerGames"
                binding="netPeerTcpBinding" bindingConfiguration="UnsecBinding"
                contract="PeerManager.IPeerService" />
    </client>
    <services>
      <service name="PeerManager.PeerService">
        <endpoint name="KDPeerService" address="net.p2p://KDPeerGames"
                  binding="netPeerTcpBinding" bindingConfiguration="UnsecBinding"
                  contract="PeerManager.IPeerService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
