<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name="UnsecBinding">
          <resolver mode="Pnrp" />
          <security mode="None" />
        </binding>
        <binding name="SecBinding">
          <resolver mode="Pnrp" />
          <security mode="Transport">
            <transport credentialType="Password" />
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint name="KDPeerEndpoint" address="net.p2p://KDPeerGames"
                binding="netPeerTcpBinding" bindingConfiguration="UnsecBinding"
                contract="PeerManager.IPeerService" />
      <endpoint name="KDPeerService" address="net.p2p://KDPeerGames/"
                binding="netPeerTcpBinding" bindingConfiguration="UnsecBinding"
                contract="PeerToPeer.IPeerService" />
    </client>
    <services>
      <!-- Customized Service definition -->
      <service name="PeerManager.PeerService">
        <endpoint name="KDPeerService" address="net.p2p://KDPeerGames"
                  binding="netPeerTcpBinding" bindingConfiguration="UnsecBinding"
                  contract="PeerManager.IPeerService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>