<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name="UnsecBinding">
          <resolver mode="Pnrp" />
          <security mode="None" />
        </binding>
        <binding name="SecBinding">
          <resolver mode="Pnrp" />
          <security mode="Transport">
            <transport credentialType="Password"/>
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.p2p://KDPeerGames" binding="netPeerTcpBinding"
        bindingConfiguration="SecBinding" contract="PeerManager.IMsgService"
        name="KDPeerEndpoint" kind="" endpointConfiguration="" />
    </client>
    <services>
      <service name="PeerManager.MsgService">
        <endpoint address="net.p2p://KDPeerGames" binding="netPeerTcpBinding"
          bindingConfiguration="SecBinding" name="WcfMsgSvc" contract="PeerManager.IMsgService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>